**Table of Contents**

1. [Libraries importing](#imports)
1. [Data Loading](#data-loading)
1. [Data Cleaning and Preprocessing](#data-cleaning)
1. [Exploratory Data Analysis](#EDA)
1. [Predictive Analysis](#predictive)
1. [Conclusions](#conclusions)

# üìñ Libraries Importing <a id='imports'></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
import warnings
warnings.filterwarnings('ignore')
sns.set(style='whitegrid', palette='pastel')

# üíª Data Loading <a id='data-loading'></a>

In [7]:
df = pd.read_csv(r'D:\Data analyst\datasets_kaggle\06-10-25\BMW sales data (2010-2024) (1).csv')
df.head()

      Model  Year         Region  ... Price_USD Sales_Volume Sales_Classification
0  5 Series  2016           Asia  ...     98740         8300                 High
1        i8  2013  North America  ...     79219         3428                  Low
2  5 Series  2022  North America  ...    113265         6994                  Low
3        X3  2024    Middle East  ...     60971         4047                  Low
4  7 Series  2020  South America  ...     49898         3080                  Low

[5 rows x 11 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

# üõ† Data Cleaning and Preprocessing <a id='data-cleaning'></a>

**Lowercase columns**

In [13]:
lowercase_cols = []
for col in df.columns:
    new_cols = col.lower()
    lowercase_cols.append(new_cols)

df.columns = lowercase_cols

**Convert data types**

In [15]:
df.head(2)

      model  year         region  ... price_usd sales_volume sales_classification
0  5 Series  2016           Asia  ...     98740         8300                 High
1        i8  2013  North America  ...     79219         3428                  Low

[2 rows x 11 columns]

In [18]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df['engine_size_l'] = pd.to_numeric(df['engine_size_l'], errors='coerce')
df['mileage_km'] = pd.to_numeric(df['mileage_km'], errors='coerce')
df['price_usd'] = pd.to_numeric(df['price_usd'], errors='coerce')
df['sales_volume'] = pd.to_numeric(df['sales_volume'], errors='coerce')

**Missing values**

In [14]:
df.isnull().sum()

model                   0
year                    0
region                  0
color                   0
fuel_type               0
transmission            0
engine_size_l           0
mileage_km              0
price_usd               0
sales_volume            0
sales_classification    0
dtype: int64

In [21]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
for col in numeric_cols:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df[col].median(), inplace=True)

categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        df[col].fillna(method='ffill', inplace=True)

# üïµÔ∏è‚Äç‚ôÇÔ∏è Exploratory Data Analysis <a id='EDA'></a>

# üß† Predictive Analysis <a id='predictive'></a>

# üôá‚Äç‚ôÇÔ∏è Conclusions <a id='conclusions'></a>